.add-button {
  color: white;
  background-color: #0b69ff;
  padding: 10px;
  border-width: 0;
  border-radius: 5px;
}

.bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.comments-length {
  background-color: #0b69ff;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  border-radius: 3px;
}
